.wrapper-x
  .bar
  .before_title
    ようこそ TECH::DELI へ
    .notice
      TECH::DELI とは、ドリンク購入代行サービスです 
      %br
      我々が、カフェテリアの自動販売機でドリンクを購入し、お客様のもとへ迅速にお届けします。
    .info
      〜使い方〜
      .contents
        %img{src:"/紹介2.gif"}
        .content
          ⑴商品を選ぶ
          %br
          ⑵席番号を入力する
          %br
          ⑶購入ボタンを押す
    .enter
      Pless: Enter-key 
 
.wrapper
  .main
    .title
      .title_log
        = link_to root_path ,class:"header-btn" do
          TECH::DELI
      .private
        -if user_signed_in? && @owner == current_user
          = link_to "/orders/show" do
            管理者    
      .my_page
        - if user_signed_in?
          .my_page_auto
            = "#{current_user.name}様"
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .my_page_in
            = link_to "ログイン", new_user_session_path
      
    - if @time.hour >= 24
      .main_drink_cover
      .main_drink
        対応時間外です
    -else
      .main_drink_cover
      .main_drink 
        注文するドリンクを選択してください
        .drink_box
          - @drinks.each do |drink|
            - if user_signed_in?
              = link_to "/orders/new/#{drink.id}" do
                .drink_image
                  %img{src:drink.image}
                  .drink_name
                    = drink.name
            - else
              = link_to root_path do
                .drink_image
                  %img{src:drink.image}
                  .drink_name
                    = drink.name
        
-# (@time.hour >= 11 && @time.hour <= 12) || (@time.hour >= 18 && @time.hour <= 19) || (@time.hour <= 10) || (@time.hour >= 22)

