:javascript
  window.onload = setupRefresh;

  function setupRefresh() {
    setTimeout("refreshPage();", 60000);
  }
  function refreshPage() {
    window.location = location.href;
  }

.show_wrapper
  .title
    .title_log
      = link_to root_path ,class:"header-btn" do
        TECH::DELI
  - @prices = [] 
  .order_all
    - @orders.first(10).each do |order|
      .order_1
        .user_name_a
          注文者名 : 
          = order.user.name
        .order_time
          日時 : 
          = order.created_at.strftime("%Y/%m/%d %H:%M")
        .order_name
          商品 : 
          = order.drink.name
        .order_price
          価格 : 
          = "#{(order.drink.price * 1.1).to_i}円"
        .order_seat
          座席番号 : 
          = order.seat
        - if order.finish == "0"  
          .order_finish
            = link_to "配達してください", "/orders/#{order.id}/finish",method: :post
        - elsif order.finish == "1"
          .order_finish
            配達完了
        - @prices << (order.drink.price * 1.1).to_i

  .total
    .total_oder
      合計注文数 : 
      = @orders.length
    .total_price
      総売上金額 : 
      = "#{@prices.sum}円"    

  
   
